
#docs
{
    background: white;
    border:1px solid gray;
    height:800px;
    width:49%;
    padding:0;
    margin:0;
    left:0;
    top:0;
    display:block;
}

#cv
{
    background: white;
    border:1px solid gray;
    height:800px;
    width:49%;
    padding:0;
    margin:0;
    left:0;
    top:0;
    display:block;
}

iframe
{
    border:none;
    margin:0;
    padding:0;
    display:block;
}
